<div id="vote-box" data-chatgroup="<%= @chat_group ||= 'default' %>" data-taskid = "<%=@task_id%>" data-production = <%=Rails.env%>>
  <button id="vote-button" class="col-sm-6 col-sm-offset-1 btn btn-lg moocchat-next-button btn-danger">Vote to move on</button>
</div>
