<h1>Welcome to MOOCchat</h1>

  <h3> Greetings, <%= @task.learner.name %>!</h3>
  <p> 
    Your activity <strong>"<%= @task.activity_schema.name %>"</strong>
    will start automatically in
    <span class="timer">
      <%= timer :submit => task_page_path(@task) %>
    </span> minutes.
  </p>
