<h1>Welcome to MOOCchat</h1>

<%= form_for task_next_page_path(@task) do |form| %>
  <p> Welcome, <%= @task.learner.name %>!</p>
  <p> Click below to start "<%= @task.activity_schema.name %>".
  <%= form.submit 'Start' %>
<% end %>
