<h1>Welcome to MOOCchat</h1>

<h3> Greetings, <%= @task.learner.name %>!</h3>
<%= form_tag task_join_group_path(@task) do %>
  <p> 
    Your activity <strong>"<%= @task.activity_schema.name %>"</strong>
    will start automatically in
    <span class="timer">
      <%= timer %>
    </span> minutes.
  </p>
  <input type="submit" id="_submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;">
<% end %>
