<h1>Welcome to MOOCchat</h1>

  <h3> Greetings, <%= @task.learner.name %>!</h3>
  <p> Click below to start <strong>"<%= @task.activity_schema.name %>"</strong>.</p>
  <%= link_to 'Start', task_page_path(@task), :class => "btn btn-primary" %>
