%h1 Welcome to MOOCchat

- form_tag :action => :task_next_page_path(@task) do |form|
  %p Welcome, #{@task.learner.name}!
  %p Click below to start your activity "#{@task.activity_schema.name}".
  = form.submit 'Start'
