<!DOCTYPE html>
<html>
    <head>
      <%= javascript_include_tag 'application' %>
      <%= stylesheet_link_tag    "application", :media => "all" %>
      <title>Page <%= @counter %></title>
    </head>
    <body>
    <%= @start_form_tag %>


<div id="main-task-page" class="moocchat-page">
<div class="container">
            <div class="row">
                <div id="consent-checking-panel" class="col-md-10 col-md-offset-1 hidden">
                    <h2>Checking consent information...</h2>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-info" style="width: 100%"></div>
                    </div>
                </div>
                <div id="consent-panel" class="col-md-10 col-md-offset-1">
                    <em>Before participating in the study, please review the information below and select one of the options at the bottom of the consent form.</em>
                    <h2>CONSENT TO PARTICIPATE IN RESEARCH</h2>
                    <h2>Synchronous Peer Learning in MOOCs</h2>
                    <h3>Introduction</h3>
                    <p>My name is Derrick Coetzee. I am a graduate student researcher at the University of California, Berkeley, in the Electrical Engineering and Computer Sciences (EECS) department, working with collaborator Seongtaek Lim and faculty advisor Prof. Marti Hearst from the School of Information.  I would like to invite you to take part in our research study, which concerns the use of a chat system we designed to facilitate peer learning in online courses.</p>
                    <p>We are inviting you to participate in this study because you have enrolled for a participating online course on edX. This study is intended for adults aged eighteen years or older.</p>
                    <h3>Purpose</h3>
                    <p>The purpose of this research study is to determine the degree to which using small chatrooms for peer learning in online courses is beneficial, and to inform improvements to the design of our system.</p>
                    <h3>Procedures</h3>
                    <p>If you agree to be in this study, you will be asked to do the following:</p>
                        <ul>
                            <li>Randomization: You will be randomly assigned to one of the study groups described below. This means that the group you are in will be chosen by chance, like the flip of a coin. You have a 25% chance of being placed in one of four Groups.</li>
                            <li>If you are in Group 2, you will be presented a critical reasoning task and will be asked to respond to it. You will be asked to identify underlying assumptions and discuss with other students using an online chatroom. The solution will then be presented with an explanation. Students interact under anonymous names such as "Student 3". </li>
                            <li>If you are in Group 1, you will be assigned to a similar system with the same task that does not include interaction with other students.</li>
                            <li>You will be asked to complete a short survey about your experience with the system and your impressions. The survey is completed online and should take about 2 to 3 minutes.</li>
                            <li>All your interactions with the chatroom, including messages, responses, and survey results, will be recorded along with the exact time.</li>
                            <!-- <li>In cooperation with edX, we will access your edX information, including test scores, submission times, and exact times at which you accessed pages such as video lectures.</li> -->
                    </ul>
                    <p>All study procedures will take place on the experiment website “moocchat.berkeley.edu,” and the survey website, SurveyMonkey. No face-to-face meetings or phone or e-mail contact will be required. You may disconnect from the system and cease to use it at any time.</p>
                    <h3>Benefits</h3>
                    <p>There are no direct benefits to subjects. Some subjects may benefit from improved understanding of the subject, but the primary purpose of the study is to gather information that will help other online courses to design effective peer learning systems and make decisions about which peer learning systems they should include, as well as to help researchers understand how these systems influence the online learning process.</p>
                    <h3>Risks/Discomforts</h3>
                    <ul>
                        <li>Although your username will not be exposed during chats, other students in your chatroom may publicly disclose your chat messages and we cannot prevent this. We advise not to include sensitive private information in your posts, and you may request that we delete log data containing personal information.</li>
                        <li>Some experiences in the chatroom may make you uncomfortable or upset, such as other students attacking you. You are free at any time to disconnect and cease using the system. Practice questions will still be made available to students who cease participation. Similarly, in the survey, you are free to stop filling out the survey and not submit your responses.</li>
                        <li>Breach of confidentiality: As with all research, there is a chance that confidentiality could be compromised; however, we are taking precautions to minimize this risk.</li>
                    </ul>
                    <h3>Confidentiality</h3>
                    <p>Your study data will be handled as confidentially as possible. If results of this study are published or presented, individual names, pseudonyms, and other personally identifiable information will not be used. To minimize the risks to confidentiality, we will do the following:</p>
                    <ul>
                        <li>Our website uses best practices (SSL) to encrypt all communications end-to-end.</li>
                        <li>During chats you will only be identified anonymously as e.g. “Student 3.”</li>
                        <li>Logged information about the details of your interactions with the system will be stored in a secure location and will be associated with your pseudonym during the course. After the course completes your logged data will no longer be associated with your pseudonym, only with an anonymous user ID.</li>
                        <!-- <li>Your edX information, such as test scores and time that lectures were viewed, will also be associated only with an anonymous user ID after the course is complete. Researchers will not retain private edX data, but edX may retain access to it.</li> -->
                        <li>Your research records, including all logged data, will be stored in an encrypted format. The information needed to decrypt and view the data will be stored by researchers on password-protected departmental systems at University of California, Berkeley.</li>
                        <li>Only the researchers on this project will have access to your study records, except for survey data, which may temporarily be accessible to other trusted researchers working with the Principal Investigator.  We will keep your study data as confidential as possible.</li>
                    </ul>
                    <p>As with any online study, confidentiality may only be kept to the degree permitted by the technology used. Although our website encrypts all communications end-to-end, third parties may intercept encrypted information and may store and eventually decrypt the information using new methods.</p>
                    <p>Future use of study data:</p>
                    <p>After replacing usernames with anonymous user IDs, the research data will be retained indefinitely for possible use in future research in this project and others. This may include both researchers at University of California, Berkeley and at other institutions. The same measures described above will be taken to protect confidentiality of this study data.</p>
                    <!-- <h3>Alternatives to Participation</h3>
                    <p>As an alternative to participating in this study, you may choose to view a webpage containing comparable practice questions and solutions. This alternative does not involve interaction with other students. You can reach this page by clicking “I do not wish to participate in this study” at the bottom of this form. In the future, whenever you visit this website you will be sent directly to the practice questions.</p> -->
                    <h3>Compensation/Payment and Costs</h3>
                    <p>You will not be compensated for your participation in this study, and you will not be charged for any of the study activities.</p>
                    <h3>Rights</h3>
                    <p>Participation in research is completely voluntary.</p>
                    <p>You have the right to decline to participate or to withdraw at any point in this study without penalty or loss of benefits to which you are otherwise entitled.</p>
                    <h3>Questions</h3>
                    <p>If you have any questions or concerns about this study, contact researcher Derrick Coetzee at e-mail address <code>dcoetzee@eecs.berkeley.edu</code>. If you need to directly contact the Principal Investigator leading the project, you can do so at e-mail address <code>hearst@berkeley.edu</code>.</p>
                    <p>If you have any questions or concerns about your rights and treatment as a research subject, you may contact the office of UC Berkeley's Committee for the Protection of Human Subjects, at 510-642-7461 or <code>subjects@berkeley.edu</code>.</p>
                    <h3>Consent</h3>
                    <p>You can use the “Save” feature in your web browser to save a copy of this consent form. </p>
                    <p> I consent to participate in this study. Take me to the experimental chat system now. </p>

                    <button type="submit" id="agree-button" class="col-sm-1 col-md-offset-1 btn agree-button">Agree</button>
                    
                    <a href= "/"><button type="submit" id="disagree-button" class="col-sm-1 col-md-offset-2 btn disagree-button">Disagree</button></a>

                    <br>
                    <p><br>If you do not wish to visit either of these pages, you may simply close this window.</p>
                </div>
            </div>
            <!-- <a href="#portfolio" class="btn btn-lg btn-default page">Click Me!</a>
            <a href="#services" class="btn btn-lg btn-default page">Click Me!</a> -->
        </div>
        </div>
</body>