<!DOCTYPE html>

<html>

  <head>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag "application", :media=>"all" %>
    <title>Page <%= @counter %></title>
  </head>
  <body>
<%= @start_form_tag %>
    <p>Here is a question:</p>
        <%= @question.text %>
    <p>Select the best answer:</p>
      <!-- capture learner's answer as choice number, 0..n-1  -->
      <% @answers.each_with_index do |answer, index| %>
        <input type="radio" value="<%= index %>" name="u[response]"> <%= answer %>
      <% end %>
    <!-- optional: collect free-text explanation from learner -->
   <p>Please explain your answer (will be seen by instructor)</p>
   <input type="textarea" name="u[explanation]"> <br>
   <!-- timer - by default, countdown specified by Condition -->
   <%= timer(10) %>
   <!-- submit button - automatically "clicked" if timer expires first -->
   <input type="submit" value="Ready to Continue">
 </form>

</body>
