<!DOCTYPE html>
<html>
  <head>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <title>Page <%= @counter %></title>
  </head>
  <body>
    <%= interstitial %>
    <%= @start_form_tag %>

    <div id="main-task-page" class="moocchat-page">
      <div class="container">
        <!-- left side -->
        <div class="col-md-6 moocchat-left-panel">
          <div class="row">
            <div class="col-sm-11 moocchat-left-panel-direction h3">Check the correct answer and review the explanation of the question.</div>
          </div>
          <div class="row">
            <div class="col-sm-11 moocchat-reading well"><%== @question.text %></div>
            <br>
          </div>

          <div class="row">
            <p>Select the best answer:</p>
            <!-- capture learner's answer as choice number, 0..n-1  -->
            <% @question.answers.each_with_index do |answer, index| %>
            <% str = index_to_letter(index) %>
            
            <div class="col-sm-11 moocchat-choice-area moocchat-conditional">
              <div class="list-group moocchat-probing-question-choice">
                <div id="moocchat-choice-<%= index %>" class="list-group-item moocchat-choice ">
                  
                  <div id="moocchat-choice-<%= index %>-box" class="moocchat-choice-box moocchat-choice-box-<%= index %>"><%= str %></div>

                  <h4 class="list-group-item-heading moocchat-choice-statement"> <%== answer %> </h4>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
        <!--right side -->
        <div class="col-md-6 moocchat-right-panel">
          <div class="row">
            <div class="col-sm-11 col-sm-offset-1 moocchat-control-panel">
              <button type="submit" id="learning-button" class="col-sm-6 col-sm-offset-6 btn btn-lg btn-info moocchat-next-button ">Next</button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-11 col-sm-offset-1 alert alert-info moocchat-right-panel-direction h4">The correct answer and the explanation are shown below</div>
          </div>

          <% correct = @question.correct_answer_index %>
          <% str = index_to_letter(correct) %>

          <div class="row">
            <div class="col-sm-11 col-sm-offset-1 moocchat-right-panel-direction">The answer is 

              <span id="moocchat-choice-<%= correct %>-box" class="moocchat-choice-box moocchat-choice-box-<%= correct %>"><%= str %></span> </div>
          </div>
          <div class="col-sm-9 col-sm-offset-1 moocchat-right-panel-direction">
            Explanation: <br>
            <%== @question.explanation %>
          </div>

        </div>
        <!-- </div> -->
      </div>
    </div>
</form>
<%= vote %>
</body>
</html>
