<div id="chat-box" class="moocchat-chat" data-chatgroup="<%= @chat_group ||= 'default' %>" data-taskid = "<%=@task_id%>" data-production = <%=Rails.env%>>
  <div id="chat-system" class="moocchat-chat">
  </div>
</div>
<input id="input-text" class="form-control" type="text" class="form-control" placeholder="Enter chat text here!">
<button id ="send-chat-message" class="btn btn-warning" type="button">Send</button>
<button id="vote-to-quit" class="btn btn-default">Vote to move on</button>