<div id="chat-box" class="moocchat-chat" data-chatgroup="<%= @chat_group ||= 'default' %>" data-taskid = "<%=@task_id%>" data-production = <%=Rails.env%>>
  <div id="chat-system" class="moocchat-chat">
  </div>
</div>
<!-- input-group usage from http://stackoverflow.com/a/10616090/724491 -->
<div class="input-group">
  <input id="input-text" class="form-control input-block-level" type="text" class="form-control" placeholder="Enter chat text here!">
  <span class="input-group-btn"><button id ="send-chat-message" class="btn btn-default" type="button">Send</button></span>
</div>
