<!DOCTYPE html>
<html>
  <head>
    <title>Ruby WebSockets Chat Test</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Ruby WebSockets Chat Test</h1>
        <p>This is a Ruby WebSockets Chat Demo. The code lives <a href="https://github.com/heroku-examples/ruby-websockets-chat-demo">on GitHub</a>. You can find the full guide <a href="https://devcenter.heroku.com/articles/ruby-websockets">on Heroku DevCenter</a>.</p>
      <%= render :partial => 'chat' %>
  </body>
</html>
